

<ul>
    <% projects.forEach(project => { %>
      <li>
        <a href="/projectDetails/<%= project._id %>"> <%= project.name %></a>
      </li>
    <% }); %>
  </ul>

  <h2>Create New Project</h2>
<form action="/create" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" placeholder="Your project name..." required>

  <label for="description">Description:</label>
  <textarea id="description" name="description" placeholder="Your project description..."></textarea>

  <label for="author">Author:</label>
  <input type="text" id="author" name="author" placeholder="Author Name" required>

  <button type="submit">Create Your Project</button>
</form>

