<html>
    <head>
            <title>
                Project List
            </title>
    </head>
       
    <body>
        <%- include('__header') %>

        <main>
            <%- body %>
          </main>

        <%- include('__footer') %>
    </body>
</html>